{% extends "application.html" %}
{% block content %}
    <div class="post_container">
        <p class="title">編集フォーム</p>
        <form method="POST">
            <label for="title">題名</label>
            <input type="text" name="title" class="text" value={{tweet.title}}>
            <br>
            <label for="body">内容</label>
            <input type="text" name="body" class="text" value={{tweet.body}}>
            <br>
            <input type="submit" value="編集">
        </form>
    </div>
{% endblock %}