{% extends "application.html" %}
{% block content %}
    <div class="search">
        <form>
            <input type="text" name="search">
            <input type="submit" value="検索">
        </form>
    </div>
    <div class="tweets_container">
        <h3>投稿一覧</h3>
        {% for tweet in tweets %}
        <div class="tweet">
            <div class="main_box">
                <div class="left_container">
                    <p><b>{{tweet.title}}</b> {{tweet.body}}</p>
                </div>
                <div class="right_container">
                    <a href="/tweets/{{tweet.id}}">詳細</a>
                    {% if tweet.user_id == current_user.id %}
                        <a href="/tweets/{{tweet.id}}/edit">編集</a>
                        <a href="/tweets/{{tweet.id}}/delete">削除</a>
                    {% endif %}
                </div>
            </div>
            <p class="time">{{ tweet.created_at }}</p>
        </div>
        {% endfor %}
    </div>

{% endblock %}