<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeekTwitter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/application.css') }}">
</head>
<body>
    <header>
        <h1><a href="/">GeekTwitter</a></h1>
        <div class="header_list">
            <li><a href="/">ホーム</a></li>
            <li><a href="/tweets/new">新規投稿</a></li>
            {% if current_user.id %}
                <li><a href="/logout">ログアウト</a></li>
            {% else %}
                <li><a href="/login">ログイン</a></li>
            {% endif %}
        </div>
    </header>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
    <footer>
        <p>Copyright © GeekSalon All Rights Reserved.</p>
    </footer>
</body>
</html>